<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Belka Bot Admin</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-yellow.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-yellow sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini"><b>B</b>Bot</span>
      <span class="logo-lg"><b>Belka</b> Bot</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/img/avatar/{{ username }}.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ username }}</p>
        </div>
      </div>

      <ul class="sidebar-menu">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span>Главная</span></a></li>
        <li class="active"><a href="/users"><i class="fa fa-users"></i> <span>Пользователи</span></a></li>
        <li><a href="/events"><i class="fa fa-calendar"></i> <span>Мероприятия</span></a></li>
        <li><a href="/sendtoall"><i class="fa fa-bell"></i> <span>Оповещения</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Пользователи
      </h1>
    </section>

    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tr><th>id</th><th>login</th><th>full name</th><th>phone</th></tr>
                {%- for user in users -%}
                <tr>
                  <td>{{ user.chat_id }}</td>
                  <td>{% if user.is_staff==1 %}<i class="fa fa-coffee"></i> {% else %}<i class="fa fa-user"></i> {% endif %}{{ user.username }}</td>
                  <td>{{ user.first_name }} {{ user.last_name }}</td>
                  <td>{{ user.phone }}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-danger btn-xs" onclick="$.ajax({url: '/deleteUser', data: 'chat_id={{ user.chat_id }}', success: function(){ window.location.reload(); }, type: 'GET'});"><i class="fa fa-ban"></i></a>
                      {% if user.is_staff == 0 %}
                      <a class="btn btn-warning btn-xs" onclick="$.ajax({url: '/makeStaffUser', data: 'chat_id={{ user.chat_id }}', success: function(){ window.location.reload(); }, type: 'GET'});"><i class="fa fa-coffee"></i></a>
                      {% else %}
                      <a class="btn btn-success btn-xs" onclick="$.ajax({url: '/unStaffUser', data: 'chat_id={{ user.chat_id }}', success: function(){ window.location.reload(); }, type: 'GET'});"><i class="fa fa-user"></i></a>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {%- endfor -%}
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

            </div>
          </div>

        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
</body>
</html>
